{% extends 'authenticate/base.html' %}

{% block content%}

	<h1 class="text-center" style="font-weight: bold"> Change Password</h1>
</br></br></br>
	<!-- put some logic  so it wont show in main screen 
	unless you log out -->

	<form class="text-center" action="{% url 'change_password' %}" method="POST"> 
		{% csrf_token %}
			{% if form.errors %}	 <!--if the form not fully finished -->
				<div class="alert alert-warning" role="alert">
                   <h4>Some Problem Occur</h4>
                  </div>
					{%endif%}
				
						{{form.as_p}}

	<input type="submit" name="change_password" value="Change Password" class="btn btn-success">
	</form>

{% endblock %}